.status {
  margin: 0;
  padding: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 7px;
  padding-right: 7px;
  width: max-content;
  border-radius: 4px;
  font-weight: bold;
}

.NAO_RESPONDIDO {
  background-color: #FFF8E4;
  color: #E99A00;
}

.RESPONDIDO {
  background-color: #E1F5D5;
  color: #219653;
}