.timer {
  display:flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  padding: 5px 10px 5px 10px;
  border: 1px solid #7D8DA6;
  border-radius: 4px;
  color: #7D8DA6;
  right: 50px;
  position: absolute;
}