@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&display=swap');

$primary: #502db3;
$secondary: #eee;
$primary-font: 'Chivo', sans-serif;
$color: #141736;
$border-color: #DFE5F1;